.infochange{
  width: 500px;
}

.infochange__title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.infochange__row{
  margin-bottom: 15px;
}

.infochange__titlecolumn{
  font-weight: bold;
  width: 50%;
}

.infochange__inputcolumn{
  text-align: right;
}

.infochange__input{
  width: 300px;
}

.infochange__about-label{
  display: block;
  font-weight: bold;
}

.infochange__about{
  width: 100%;
  height: 100px;
}