<footer class="footer">
    <div class="container">
        <div class="footer__text">Разработано во время Комплексного курса по PHP в Loftschool, 2018.</div>
        <div class="footer__text">Шиканов Евгений, <a href="mailto:sheekanov@gmail.com" class="footer__link">sheekanov@gmail.com</a></div>
    </div>
</footer>