<header class="header">
    <div class="container">
        <div class="header__left">
            <h1 class="header__title"><a href="/" class="header__title-link">Filemanager MVC</a></h1>
        </div>
        <div class="header__right">
            <a href="{{ headerRightLink }}" class="header__logout" style="display: {{ headerRightDisplay }};">{{ headerRightText }}</a>
        </div>
    </div>
</header>